{{ define "AdminIndex.tmpl"}}
<!DOCTYPE html>
<html lang="ru"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню админа</title>
    <style>

        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .head_label {
            font-size: 40px;
        }

        .AdminChoise{
            width: 200px;
            height: 150px;
            border: 6px solid #5c37a0;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(170, 146, 231, 0.1);
            transition: 0.3s all ease;
            backdrop-filter: blur(100px);
        }

        .AdminChoise:hover {
            background-color: rgba(111, 66, 193, 0.2);
            scale: 1.1;
        }

        .AdminChoiseButton {
            color: white;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
        }

        .card_content{
            font-size: 20px;
        }

    </style>
</head>
<body>
    <div style="
        display: flex; 
        justify-content: center; 
        background-color: #6f42c1;
        padding: 8px;
    ">
        <span class="head_label" style="width: fit-content; color: white;">Выбор действия</span>
    </div>
    
    <div class="cards_container_outer" style="
        background: rgb(255,255,255);
        background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(111,66,193,1) 75%, rgba(111,66,193,1) 100%); 
        flex-grow: 1;
    "
    >
        <div class="cards_container_inner" style="
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 30px;
        ">
            <form action="/api/admin/cowTable">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Просмотр таблицы коров
                        </div>
                    </div>
                </button>
            </form>

            <form action="/api/admin/checkUsers">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Промотр пользователей
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/createUser">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Создать пользователя
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkHoldings">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Просмотр холдингов
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/createHolding">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Создать холдинг
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkHozs">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Просмотр хозяйств
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/createHoz">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Создать хозяйство
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkFarms">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Просмотр ферм
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/createFarm">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Создать ферму
                        </div>
                    </div>
                </button> 
            </form>
        </div>
    </div>

</body></html>
{{ end }}