{{ define "AdminUsersPage.tmpl"}}
<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4; /* Светлый фон */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        }

        .header {
            position: rel;
            height: 60px
        }

        h1 {
            color: #6f42c1; /* Светло-фиолетовый цвет */
        }
        
        .admin-select-button {
            position: relative;
            left: 10px
        }

        .container-table {
            margin-top: 30px;
            width: 100%;
            height: 85vh;
            overflow: scroll;
        }
        
        table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные границы */
            background-color: #fff; /* Белый фон для таблицы */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        }

        th {
            position: sticky;
            top: 0px;
            z-index: 999;
        }


        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #dddddd; /* Светло-серая граница */
            white-space: nowrap;
        }

        th {
            background-color: #6f42c1; /* Фон заголовка таблицы */
            color: white; /* Цвет текста заголовка */
        }

        .back-button {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #e0c6f2; /* Светлый оттенок фиолетового */
            color: #333;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .pagination-container {
            display: flex; / Создаем гибкий контейнер /
            justify-content: space-between; / Пробел между элементами /
            align-items: center; / Центрирование по вертикали /
            margin-top: 20px; / Отступ сверху /
        }
        
        .pagination {
            display: flex;
            justify-content: center; /* Центрирование по горизонтали */
            margin: 5px 0; /* Отступ сверху и снизу */
        }

        .pagination ul {
            list-style: none; /* Убираем маркеры списка */
            padding: 0; /* Убираем внутренние отступы */
        }

        .pagination .page-item {
            margin: 0 5px; /* Отступы между кнопками */
        }

        .pagination .page-item .page-link {
            display: inline-block; /* Отображение как блочный элемент */
            padding: 10px 15px; /* Внутренние отступы для кнопки */
            border: 1px solid #6f42c1; /* Цвет границы */
            border-radius: 5px; /* Скругление углов */
            color: #6f42c1; /* Цвет текста */
            text-decoration: none; /* Убираем подчеркивание текста */
        }

        .pagination .page-item.active .page-link {
            background-color: #6f42c1; /* Цвет фона для активной страницы */
            color: white; /* Цвет текста для активной страницы */
        }

        .pagination .page-item .page-link:hover {
            background-color: #5c37a0; /* Цвет фона при наведении */
            color: white; /* Цвет текста при наведении */
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Список пользователей</h1>
    </div>
    <button class="back-button" onclick="window.history.back();">Назад</button>
    <div class="container-table">
        <table>
        <thead>
            <tr>
                <th>ID <input type="checkbox" id="check-all" onclick="toggle(this)"></th>
                <th>Имя</th>
                <th>Роль</th>
                <th>EMAIL</th>
                <th>Телефон</th>
                <th>Пароль</th>
                <th>Хозяйство</th>
            </tr>
        </thead>
        <tbody>
            {{range .users}} <!-- Итерация по списку коров -->
            <tr>
                <td>{{if .ID}}{{.ID}}{{end}}<input type="checkbox" class="cow-checkbox"></td>
                <td>{{if .NameSurnamePatronimic}}{{.NameSurnamePatronimic}}{{end}}</td>
                <td>{{if .Role}}{{.Role}}{{end}}</td>
                <td>{{if .Email}}{{.Email}}{{end}}</td>
                <td>{{if .Phone}}{{.Phone}}{{end}}</td>
                <td>{{if .Password}}{{.Password}}{{end}}</td>
                <td>{{if .FarmId}}{{.Farm.Name}}{{end}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    </div>
    
    <div class="pagination-container">
        <div class="pagination">
            {{if gt .totalPages 1}}
                <ul class="pagination justify-content-center">
                    {{range $i := seq 1 .totalPages}}
                        <li class="page-item {{if eq $i $.currentPage}}active{{end}}">
                            <a class="page-link" href="?page={{$i}}">{{$i}}</a>
                        </li>
                    {{end}}
                </ul>
            {{end}}
        </div>
    </div>

</body>

<script>
    function toggle(source) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"].cow-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.checked = source.checked; // Ставим состояние чекбоксов в зависимости от состояния заголовка
        });
    }
</script>
</html>
{{ end }}