{{ define "AdminUsersPage.tmpl"}}
<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4; /* Светлый фон */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        }

        .header {
            position: rel;
            height: 60px
        }

        h1 {
            color: #6f42c1; /* Светло-фиолетовый цвет */
        }
        
        .admin-select-button {
            position: relative;
            left: 10px
        }

        .container-table {
            margin-top: 30px;
            width: 100%;
            height: 85vh;
            overflow: scroll;
        }
        
        table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные границы */
            background-color: #fff; /* Белый фон для таблицы */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        }

        th {
            position: sticky;
            top: 0px;
            z-index: 999;
        }


        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #dddddd; /* Светло-серая граница */
            white-space: nowrap;
        }

        th {
            background-color: #6f42c1; /* Фон заголовка таблицы */
            color: white; /* Цвет текста заголовка */
        }

        tr:hover {
            background: #e8e8e8;
            cursor: pointer;
        } 


        .back-button {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #e0c6f2; /* Светлый оттенок фиолетового */
            color: #333;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .pagination-container {
            display: flex; / Создаем гибкий контейнер /
            justify-content: space-between; / Пробел между элементами /
            align-items: center; / Центрирование по вертикали /
            margin-top: 20px; / Отступ сверху /
        }
        
        .pagination {
            display: flex;
            justify-content: center; /* Центрирование по горизонтали */
            margin: 5px 0; /* Отступ сверху и снизу */
        }

        .pagination ul {
            list-style: none; /* Убираем маркеры списка */
            padding: 0; /* Убираем внутренние отступы */
        }

        .pagination .page-item {
            margin: 0 5px; /* Отступы между кнопками */
        }

        .pagination .page-item .page-link {
            display: inline-block; /* Отображение как блочный элемент */
            padding: 10px 15px; /* Внутренние отступы для кнопки */
            border: 1px solid #6f42c1; /* Цвет границы */
            border-radius: 5px; /* Скругление углов */
            color: #6f42c1; /* Цвет текста */
            text-decoration: none; /* Убираем подчеркивание текста */
        }

        .pagination .page-item.active .page-link {
            background-color: #6f42c1; /* Цвет фона для активной страницы */
            color: white; /* Цвет текста для активной страницы */
        }

        .pagination .page-item .page-link:hover {
            background-color: #5c37a0; /* Цвет фона при наведении */
            color: white; /* Цвет текста при наведении */
        }

         .current-page {
            background-color: #6f42c1;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Список пользователей</h1>
    </div>
    <button class="back-button" onclick="window.location.href='/api/admin'">Назад</button>
    <div class="container-table">
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Роль</th>
                <th>EMAIL</th>
                <th>Телефон</th>
                <th>Хозяйство</th>
                <th>Регион</th>
            </tr>
        </thead>
        <tbody>
            {{range .users}} <!-- Итерация по списку коров -->
            <tr onclick="selectRow()">
                <td>{{if .ID}}{{.ID}}{{end}}</td>
                <td>{{if .NameSurnamePatronimic}}{{.NameSurnamePatronimic}}{{end}}</td>
                <td>{{if .RoleId}}{{.Role.Name}}{{end}}</td>
                <td>{{if .Email}}{{.Email}}{{end}}</td>
                <td>{{if .Phone}}{{.Phone}}{{end}}</td>
                <td>{{if .FarmId}}{{.Farm.Name}}{{end}}</td>
                <td>{{if .RegionId}}{{.Region.Name}}{{end}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    </div>
    
    <div class="pagination-container">
        <div class="pagination">
            {{if gt .totalPages 1}}
                <ul class="pagination justify-content-center">
                    {{if le .totalPages 5}}
                        {{range $i := seq 1 .totalPages}}
                            <li class="page-item {{if eq $i $.currentPage}}active{{end}}">
                                <a class="page-link" href="?page={{$i}}">{{$i}}</a>
                            </li>
                        {{end}}
                    {{else}}
                        {{range $i := seq 1 4}}
                            <li class="page-item {{if eq $i $.currentPage}}active{{end}}">
                                <a class="page-link" href="?page={{$i}}">{{$i}}</a>
                            </li>
                        {{end}}
                        {{if ne $.currentPage 5}}
                            <li class="page-item">
                                <button class="page-link" onclick="goToPage()">...</button>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{.totalPages}}">{{.totalPages}}</a>
                            </li>
                        {{end}}
                    {{end}}
                </ul>
            {{end}}
        </div>
    </div>
    <div class="current-page">Страница {{.currentPage}}</div>

</body>
<script>
    function goToPage() {
        let page = prompt("Введите номер страницы:");
        page = parseInt(page);
        
        if (!isNaN(page) && page > 0 && page <= {{.totalPages}}) {
            window.location.href = "?page=" + page;
        } else {
            alert("Некорректный номер страницы. Пожалуйста, введите число от 1 до " + {{.totalPages}} + ".");
        }
    }


</script>
</html>
{{ end }}